<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
  <nav class="blue lighten-1">
    <div class="nav-wrapper">
      <a href="#" style="margin-left: 50px" class="brand-logo">Modern Tech Blog</a>
      <ul id="nav-mobile" class="right">
        <li>
        {{!-- {{#if logged_in}} --}}
        <button class="btn" id="logout" href="/logout">logout</button>
        <script src="/js/logout.js"></script>
        {{!-- {{/if}} --}}
        </li>
      </ul>
    </div>
  </nav>

  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{!-- {{#if logged_in}} --}}
  <script src="../../public/js/logout.js"></script>
  {{!-- {{/if}} --}}
</body>

</html>
